<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Shoppers &mdash; Colorlib e-Commerce Template</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Mukta:300,400,700"
    />
    <link rel="stylesheet" href="../../../public/fonts/icomoon/style.css" />

    <link rel="stylesheet" href="../../../public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../../public/css/magnific-popup.css" />
    <link rel="stylesheet" href="../../../public/css/jquery-ui.css" />
    <link rel="stylesheet" href="../../../public/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="../../../public/css/owl.theme.default.min.css" />

    <link rel="stylesheet" href="../../../public/css/aos.css" />

    <link rel="stylesheet" href="../../../public/css/style.css" />
  </head>
  <body>
    <div class="site-wrap">
      <header class="site-navbar" role="banner">
        <div class="site-navbar-top">
          <div class="container">
            <div class="row align-items-center">
              <div
                class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left"
              >
                <form action="" class="site-block-top-search">
                  <span class="icon icon-search2"></span>
                  <input
                    type="text"
                    class="form-control border-0"
                    placeholder="Tìm kiếm"
                  />
                </form>
              </div>

              <div
                class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center"
              >
                <div class="site-logo">
                  <a href="/" class="js-logo-clone">Bán giày</a>
                </div>
              </div>

              <div class="col-6 col-md-4 order-3 order-md-3 text-right">
                <div class="site-top-icons">
                  <ul>
                    <% if (user) { %>
                      <li>
                        <div class="dropdown-container">
                          <a href="#" id="logout-icon">
                              <span class="icon icon-person"></span>
                          </a>
                          <div class="dropdown-menu" id="dropdown-menu">
                              <a href="/logout">Đăng xuất</a>
                          </div>
                        </div>
                      </li>
                      <li>
                        <a href="#"><span class="icon icon-heart-o"></span></a>
                      </li>
                      <li>
                        <a href="/cart" class="site-cart">
                          <span class="icon icon-shopping_cart"></span>
                          <span class="count">2</span>
                        </a>
                      </li>
                      <li class="d-inline-block d-md-none ml-md-0">
                        <a href="#" class="site-menu-toggle js-menu-toggle"
                          ><span class="icon-menu"></span
                        ></a>
                      </li>
                    <% } else { %>
                      <p><a href="/login">Đăng Nhập</a></p>
                    <% } %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <nav
          class="site-navigation text-right text-md-center"
          role="navigation"
        >
          <div class="container">
            <ul class="site-menu js-clone-nav d-none d-md-block">
              <li class="">
                <a href="/">TRANG CHỦ</a>
              </li>

              <li class="">
                <a>Giới thiệu</a>
              </li>
              <li><a href="shop.html">Cửa hàng</a></li>

              <li><a href="#"> Hàng mới đến</a></li>
              <li><a>Liên hệ</a></li>
            </ul>
          </div>
        </nav>
      </header>

      <div class="bg-light py-3">
        <div class="container">
          <div class="row">
            <div class="col-md-12 mb-0">
              <a href="/">Trang chủ</a> <span class="mx-2 mb-0">/</span>
              <strong class="text-black">Sneakers</strong>
            </div>
          </div>
        </div>
      </div>

      <div class="site-section">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <img src="../../../public/images/Products/<%= data.hinh_anh[0] %>" alt="Image" class="img-fluid" />
            </div>
            <form class="col-md-6" onsubmit="return checkSizeSelection()" action="/products/add" method="post">
              <h2 class="text-black"><%= data.ten %></h2>
              <p>
                <%= data.mo_ta %>
              </p>
             
              <p><strong class="text-primary h4"><%= data.gia %> VNĐ</strong></p>
              <h1 style="font-size: 24px; font-style: normal; color: #333">
                Kích thước
              </h1>

              <div class="size-selection d-flex flex-wrap">
                <% for(var i = 0; i < data.kich_thuoc.length; i++) { %>
                  <label for="size-<%= data.kich_thuoc[i] %>" class="size-option">
                    <input type="radio" id="size-<%= data.kich_thuoc[i] %>" name="size" value="<%= data.kich_thuoc[i] %>"/>
                    <span> <%= data.kich_thuoc[i] %></span>
                  </label> 
                <% } %>

                
              </div>

              <div class="mb-5">
                <div class="input-group mb-3" style="max-width: 120px">
                  <div class="input-group-prepend">
                    <button
                      class="btn btn-outline-primary js-btn-minus"
                      type="button"
                    >
                      &minus;
                    </button>
                  </div>
                  <input
                    name="num"
                    type="text"
                    class="form-control text-center"
                    value="1"
                    placeholder=""
                    aria-label="Example text with button addon"
                    aria-describedby="button-addon1"
                  />
                  <input type="text" name="product" value="<%= data._id %>" hidden="hidden">
                  <input type="text" name="price" value="<%= data.gia %>" hidden="hidden">
                  <input type="text" name="image" value="<%= data.hinh_anh[0] %>" hidden="hidden">
                  <div class="input-group-append">
                   
                    <input type="text" name="name" value=" <%= data.ten %>" hidden="hidden">
                    <button
                      class="btn btn-outline-primary js-btn-plus"
                      type="button"
                    >
                      &plus;
                    </button>
                  </div>
                </div>
              </div>
              <p>
                <!-- <a href="cart.html" class="buy-now btn btn-sm btn-primary"
                  >Thêm vào giỏ hàng</a
                > -->
                <button type="submit" class="buy-now btn btn-sm btn-primary">Mua Ngay</button>
              </p>
            </form>
          </div>
          <script src="../../../public/Scripts/sizeSelection.js"></script>
        </div>
      </div>

      <div class="site-section block-3 site-blocks-2 bg-light">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-7 site-section-heading text-center pt-4">
              <h2> Sản phẩm nổi bật</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="nonloop-block-3 owl-carousel">
                <div class="item">
                  <div class="block-4 text-center">
                    <figure class="block-4-image">
                      <img
                        src="../../../public/images/Products/image1713154286794.webp"
                        alt="Ảnh sản phẩm"
                        class="img-fluid"
                      />
                    </figure>
                    <div class="block-4-text p-4">
                      <h3><a href="#">Giày Da Cổ Điển</a></h3>
                      <p class="mb-0">Thiết kế phong cách và thoải mái</p>
                      <p class="text-primary font-weight-bold">1.950.000 VNĐ</p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="block-4 text-center">
                    <figure class="block-4-image">
                      <img
                        src="../../../public/images/Products/2.webp"
                        alt="Ảnh sản phẩm"
                        class="img-fluid"
                      />
                    </figure>
                    <div class="block-4-text p-4">
                      <h3><a href="#">Giày Thể Thao</a></h3>
                      <p class="mb-0">Hoàn hảo cho trang phục hàng ngày</p>
                      <p class="text-primary font-weight-bold">1.650.000 VNĐ</p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="block-4 text-center">
                    <figure class="block-4-image">
                      <img
                        src="../../../public/images/Products/3.webp"
                        alt="Ảnh sản phẩm"
                        class="img-fluid"
                      />
                    </figure>
                    <div class="block-4-text p-4">
                      <h3><a href="#">Giày Chạy Bộ</a></h3>
                      <p class="mb-0">Nhẹ nhàng và bền bỉ</p>
                      <p class="text-primary font-weight-bold">1.400.000 VNĐ</p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="block-4 text-center">
                    <figure class="block-4-image">
                      <img
                        src="../../../public/images/Products/4.webp"
                        alt="Ảnh sản phẩm"
                        class="img-fluid"
                      />
                    </figure>
                    <div class="block-4-text p-4">
                      <h3><a href="#">Giày Bốt Vintage</a></h3>
                      <p class="mb-0">Phong cách cổ điển, da cao cấp</p>
                      <p class="text-primary font-weight-bold">2.800.000 VNĐ</p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="block-4 text-center">
                    <figure class="block-4-image">
                      <img
                        src="../../../public/images/Products/5.webp"
                        alt="Ảnh sản phẩm"
                        class="img-fluid"
                      />
                    </figure>
                    <div class="block-4-text p-4">
                      <h3><a href="#">Giày Lười Thoải Mái</a></h3>
                      <p class="mb-0">Phù hợp cho sử dụng hàng ngày</p>
                      <p class="text-primary font-weight-bold">1.500.000 VNĐ</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer class="site-footer border-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0">
              <div class="row">
                <div class="col-md-12">
                  <h3 class="footer-heading mb-4">Điều hướng</h3>
                </div>
                <div class="col-md-6 col-lg-4">
                  <ul class="list-unstyled">
                    <li><a href="#">Bán trực tuyến</a></li>
                    <li><a href="#">Đặc trưng</a></li>
                    <li><a href="#">Giỏ hàng</a></li>
                    <li><a href="#">Người xây dựng </a></li>
                  </ul>
                </div>
                <div class="col-md-6 col-lg-4">
                  <ul class="list-unstyled">
                    <li><a href="#">Thương mại di động</a></li>
                    <li><a href="#">Thả vận chuyển</a></li>
                    <li><a href="#">Phát triển trang web</a></li>
                  </ul>
                </div>
                <div class="col-md-6 col-lg-4">
                  <ul class="list-unstyled">
                    <li><a href="#">Điểm bán hàng</a></li>
                    <li><a href="#">Phần cứng</a></li>
                    <li><a href="#">Phần mềm</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
              <h3 class="footer-heading mb-4">Khuyến mãi</h3>
              <a href="#" class="block-6">
                <img
                  src="../../../public/images/Products/hero_1.jpg"
                  alt="Image placeholder"
                  class="img-fluid rounded mb-4"
                />
                <h3 class="font-weight-light mb-0">
                  Tìm đôi giày hoàn hảo của bạn
                </h3>
                <p>Khuyễn mãi từ 15 &mdash; 25, 2024</p>
              </a>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="block-5 mb-5">
                <h3 class="footer-heading mb-4">Thông tin liên hệ</h3>
                <ul class="list-unstyled">
                  <li class="address">
                    48 Cao Thắng, Thanh Bình, Hải Châu, Đà Nẵng 550000
                  </li>
                  <li class="phone">
                    <a href="tel://0236 3822 571">+0236 3822 571</a>
                  </li>
                  <li class="email">emailaddress@ute.com</li>
                </ul>
              </div>

              <div class="block-7">
                <form action="#" method="post">
                  <label for="email_subscribe" class="footer-heading"
                    >Đặt mua</label
                  >
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control py-4"
                      id="email_subscribe"
                      placeholder="Email"
                    />
                    <input
                      type="submit"
                      class="btn btn-sm btn-primary"
                      value="Gửi"
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!--  -->
      </footer>
    </div>
    <script src="../../../public/Scripts/sizeSelection.js"></script>
    <script src="../../../public/scripts/jquery-3.3.1.min.js"></script>
    <script src="../../../public/scripts/jquery-ui.js"></script>
    <script src="../../../public/scripts/popper.min.js"></script>
    <script src="../../../public/scripts/bootstrap.min.js"></script>
    <script src="../../../public/scripts/owl.carousel.min.js"></script>
    <script src="../../../public/scripts/jquery.magnific-popup.min.js"></script>
    <script src="../../../public/scripts/aos.js"></script>

    <script src="../../../public/scripts/main.js"></script>
  </body>
</html>

